
    <div class="three-buttons__wrapper">
        {% if readMore is defined and readMore == true %}
            <div class="seo-btn mbtn">Читать далее</div>
        {% endif %}
        <div class="callback-btn orange-popup__button">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#callback_popup">Рассчитать стоимость</button>
        </div>
        <div class="callback-btn orange-popup__button">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#callback_popup">Консультация</button>
        </div>
    </div>
