<div class="container-fluid about__block_wrapper" style="padding-top: 0px;">
    <div class="container about__block justify-content-around two-buttons__wrapper">
        <div class="callback-btn orange-popup__button">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#callback_popup">Рассчитать стоимость</button>
        </div>
        <div class="callback-btn orange-popup__button">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#callback_popup">Получить консультацию</button>
        </div>
    </div>
</div>