<div class="container-fluid about__block_wrapper">
    <div class="container about__block">
    <div class="about__block_bg"></div>

    <div class="about__block_text">
        <hr data-aos="fade-down" data-aos-duration="2000">
        <h2 data-aos="fade-down" data-aos-duration="2000">О НАС</h2>

        <div class="about__block_media-mobile">
            <div uk-slider class="uk-slider-about">
                <ul class="uk-slider-items uk-child-width-1-1@s uk-grid">
                    <li>
                        <video data-aos="fade-right" controls width="386" height="232"  name="media" poster="images/video-bg.jpg">
                            <source src="video/video-about.mp4?autoplay=false" type="video/mp4">
                        </video>
                    </li>
                    <li>
                        <img data-aos="fade-right" data-fancybox="gallery" src="images/about-img1.jpg" alt="">
                    </li>
                    <li>
                        <img data-aos="fade-right" data-fancybox="gallery" src="images/about-img2.jpg" alt="">
                    </li>
                    <li>
                        <img data-aos="fade-right" data-fancybox="gallery" src="images/about-img3.jpg" alt="">
                    </li>
                </ul>
                <div class="uk-visible">
                    <a class="uk-position-center-left-out" style="left: 0" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out" style="left: 90%" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>

        </div>
<div class="about__text">
        <p data-aos="fade-down" data-aos-duration="2000">Компания ABUGERA Workshop основана
            в 2015 году, и сегодня у нас работает уже
            более 10 человек: столяры, маляр, технолог-
            конструктор, монтажники, водитель
            и руководитель производства. Мы сильно
            выросли за последний год, но за быстрым
            ростом очень стараемся сохранить
            высокое качество нашей продукции.</p>

        <p data-aos="fade-down" data-aos-duration="2000">Основная наша ценность – это заботливое
            и очень внимательное отношение
            к заказчику, к его идеям и замыслам,
            ну и конечно, к готовому продукту.</p>

        <p data-aos="fade-down" data-aos-duration="2000">Цель нашей компании – создавать продукт,
            который будет радовать своего владельца:
            качеством исполнения, надежностью
            использования, долгим сроком службы.
            Мы ждем Ваших проектов и всегда
            готовы к открытому и плодотворному
            сотрудничеству. До встречи!</p>
</div>
        <!-- Текст для мобильных (с 935px) -->
        <div class="load-more-container about__text_mobile">

                <p>Компания ABUGERA Workshop основана
                    в 2015 году, и сегодня у нас работает уже
                    более 10 человек: столяры, маляр, технолог-
                    конструктор, монтажники, водитель
                    и руководитель производства. Мы сильно
                    выросли за последний год, но за быстрым
                    ростом очень стараемся сохранить
                    высокое качество нашей продукции.</p>
            <div class="about__show-more">
                <p>Основная наша ценность – это заботливое
                    и очень внимательное отношение
                    к заказчику, к его идеям и замыслам,
                    ну и конечно, к готовому продукту.</p>
                <p>Цель нашей компании – создавать продукт,
                    который будет радовать своего владельца:
                    качеством исполнения, надежностью
                    использования, долгим сроком службы.
                    Мы ждем Ваших проектов и всегда
                    готовы к открытому и плодотворному
                    сотрудничеству. До встречи!</p>
            </div>

            <label class="load-more-btn" for="load-more">
                <span class="unloaded">Ещё</span>
                <span class="loaded">Свернуть</span>
            </label>
        </div>



    </div>

    <div uk-slider class="about__block_media">
        <ul class="uk-slider-items uk-child-width-1-1@l uk-grid">
        <div class="about__carousel_slide">
            <div class="about__block_media-left d-flex flex-column">
                <div class="drop__video">
                    <video data-aos="fade-right" data-aos-duration="2000" controls="" width="386" height="232" name="media" poster="images/video-bg.jpg">
                        <source src="video/video-about.mp4?autoplay=false" type="video/mp4">
                    </video>
                </div>
                <div data-aos="fade-right" data-aos-duration="2000" class="d-flex align-items-center justify-content-between about__images">
                    <img  data-fancybox="gallery" src="images/about-img1.jpg" alt="">
                    <img data-fancybox="gallery" src="images/about-img2.jpg" alt="">
                </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="2000" class="about__block_media-right">
                <img data-fancybox="gallery" src="images/about-img3.jpg" alt="">
            </div>
        </div>
        <div class="about__carousel_slide ">
            <div class="about__block_media-left d-flex flex-column">
                <div class="drop__video">
                    <video controls="" width="386" height="232" name="media" poster="images/video-bg.jpg">
                        <source src="video/video-about.mp4?autoplay=false" type="video/mp4">
                    </video>
                </div>
                <div class="d-flex align-items-center justify-content-between about__images">
                    <img  data-fancybox="gallery" src="images/about-img1.jpg" alt="">
                    <img data-fancybox="gallery" src="images/about-img2.jpg" alt="">
                </div>
            </div>
            <div class="about__block_media-right">
                <img data-fancybox="gallery" src="images/about-img3.jpg" alt="">
            </div>
        </div>
        </ul>
        <div class="uk-visible">
            <a class="uk-position-center-left-out"  href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out"  href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>

    </div>

</div>

