<div class="container-fluid advantages_2">
    <div class="advantages_2__bg">
        <div class="container advantages_2__items">
            <div class="advantages_2__item">
                <div><img src="images/adv2-icon1.png" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>собственная <br>фабрика мебели</h3>
                    <p>Возьмём на себя реализацию
                        проекта и освободим ваше
                        время </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="images/adv2-icon2.png" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>собственная <br>фабрика мебели</h3>
                    <p>Возьмём на себя реализацию
                        проекта и освободим ваше
                        время </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="images/adv2-icon3.png" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>собственная <br>фабрика мебели</h3>
                    <p>Возьмём на себя реализацию
                        проекта и освободим ваше
                        время </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="images/adv2-icon3.png" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>собственная <br>фабрика мебели</h3>
                    <p>Возьмём на себя реализацию
                        проекта и освободим ваше
                        время </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="images/adv2-icon5.png" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>собственная <br>фабрика мебели</h3>
                    <p>Возьмём на себя реализацию
                        проекта и освободим ваше
                        время </p>
                </div>
            </div>
            <div class="advantages_2__item">
                <div><img src="images/adv2-icon1.png" class="hvr-grow" alt=""></div>
                <div class="advantages_2__item_text">
                    <h3>собственная <br>фабрика мебели</h3>
                    <p>Возьмём на себя реализацию
                        проекта и освободим ваше
                        время </p>
                </div>
            </div>
        </div>
    </div>

</div>