<div class="container-fluid header-banner">
    <div class="header-banner__content">
        <h1><span>Собственное производство</span> мебели и предметов интерьера <span>в Москве</span></h1>
        <div class="button-with-circle">
            <div class="circle"></div>
            <button class="header-banner__btn">Консультация</button>
        </div>
    </div>
    <div class="block1__content__arrow hide_mobile">
        <a href="#advantages" id="scroll_button">
            <img class="b-lazy b-loaded" alt="arrow" src="images/arrow.png">
        </a>
    </div>
</div>
