<div class="container-fluid photogallery__wrapper">
    <div class=" container photogallery">
    <div class="photogallery__title">
        <hr>
        <h2>фотогалерея</h2>
    </div>
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/swipe-img1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/swipe-img1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/swipe-img1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/swipe-img1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="images/swipe-img1.jpg" />
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
</div>